/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
 html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

/* :root {
  font-size: calc(1vw + 1vh + .5vmin);
} */

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
  border-color: #3868cd !important;
  margin: 1rem !important;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.font-opensans {
  font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row .col-2:last-child .input-group-desc {
  margin-bottom: 0;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row-refine {
  margin: 0 -15px;
}

.row-refine .col-3 .input-group-desc,
.row-refine .col-9 .input-group-desc {
  margin-bottom: 0;
}

.col-2 {
  width: -webkit-calc((100% - 30px) / 2);
  width: -moz-calc((100% - 30px) / 2);
  width: calc((100% - 30px) / 2);
}

.col-lg > .img-fluid, .col-lg > .img-thumbnail {
  max-width: 90%;
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }

  .col-lg > .img-fluid, .col-lg > .img-thumbnail {
    max-width: 95%;
  }
}

.form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.row-space + .row-space {
  margin-top: 40px;
}

.form-row .name {
  width: 125px;
  color: #555;
  font-size: 15px;
  font-weight: 700;
}

.form-row .value {
  width: -webkit-calc(100% - 125px);
  width: -moz-calc(100% - 125px);
  width: calc(100% - 125px);
}

@media (max-width: 767px) {
  .form-row {
    display: block;
  }
  .form-row .name,
  .form-row .value {
    display: block;
    width: 100%;
  }
  .form-row .name {
    margin-bottom: 7px;
  }
}

.col-3,
.col-9 {
  padding: 0 15px;
  position: relative;
  width: 100%;
  min-height: 1px;
}

.col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

@media (max-width: 767px) {
  .col-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 35%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
  }
}

.col-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

@media (max-width: 767px) {
  .col-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 65%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
  }
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-wrapper {
  min-height: 80vh;
}

body {
  font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  /* font: 1rem/1.6 sans-serif; */
  width:100%;
  min-height: 100vh;
  /* overflow: hidden; */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.bg-blue {
  background: #2c6ed5;
}

.bg-red {
  background: #fa4251;
}

.bg-gra-01 {
  background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
  background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

.bg-gra-02 {
  background: -webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#6c4079));
  background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
  background: -moz-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
  background: -o-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
  background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
}

.bg-gra-03 {
  background: -webkit-gradient(linear, left bottom, right top, from(#08aeea), to(#b721ff));
  background: -webkit-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
  background: -moz-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
  background: -o-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
  background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%);
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-c-5p {
  padding: calc(var(--mdb-gutter-x)*0.5);
} 

.p-t-100 {
  padding-top: 100px;
}

.p-t-130 {
  padding-top: 130px;
}

.p-t-180 {
  padding-top: 180px;
}

.p-t-45 {
  padding-top: 45px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.m-r-45 {
  margin-right: 45px;
}

.m-r-55 {
  margin-right: 55px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-55 {
  margin-bottom: 55px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
}

.wrapper--w960 {
  max-width: 960px;
}

.wrapper--w790 {
  max-width: 790px;
}

.wrapper--w780 {
  max-width: 780px;
}

.wrapper--w680 {
  max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
  display: inline-block;
  line-height: 50px;
  padding: 0 50px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-family: inherit;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--radius-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.btn--green {
  background: #57b846;
}

.btn--green:hover {
  background: #4dae3c;
}

.btn--blue {
  background: #4272d7;
}

.btn--blue:hover {
  background: #3868cd;
}

.btn--red {
  background: #ff4b5a;
}

.btn--red:hover {
  background: #eb3746;
}

#container > .btn:hover{transform: translatey(2px);}
#container > .btn:active{transform: translatey(5px);}

.container ~ .btn:hover{transform: translatey(2px);}
.container ~ .btn:active{transform: translatey(5px);}

.container-xxl > .btn:hover{transform: translatey(2px);}
.container-xxl > .btn:active{transform: translatey(5px);}

.container-xxl ~ .btn:hover{transform: translatey(2px);}
.container-xxl ~ .btn:active{transform: translatey(5px);}

/* ==========================================================================
   #PAGE TRANSICTION
   ========================================================================== */
[data-page]{
  position: relative;  /*absolute;*/ /* or absolute if the content exceeds the height of the page */
  width: auto;
  height: 100%;
  /* min-height: 100vh; */
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in; 
  /*
  left: 100%;
  transition: left 1.0s ease-in; 
  */
  z-index: 10;
}

[data-page="home"]{
  background-color: hsl(90, 70%, 20%);
  color: hsl(90, 90%, 90%);
}

[data-page="other"]{
  background-color: hsl(270, 70%, 20%);
  color: hsl(270, 90%, 90%);
}

[data-page].active{
  transform: translate3d(0, 0, 0);
  opacity: 1;
  /**
  left: 0;
  **/
  z-index: 100;
}

[data-role="link"]{
  color: white;
}

section h1{
  padding: 1rem;
  text-align: center;
}

section p{
  padding: 1rem 1.2rem;
}

.wrapper > .display-none {
  display: none;
}

section + .display-none {
  display: none;
}

/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
  background-color: #2c6ed5;
}

input[type="date" i] {
  padding: 14px;
}

.table-condensed td, .table-condensed th {
  font-size: 14px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
input {
  outline: none;
  margin: 0;
  /*border: none;*/
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

.input_field {
  position: relative;
  margin-bottom: 20px;
      -webkit-animation: bounce 0.6s ease-out;
       animation: bounce 0.6s ease-out;
}

.input_field > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  border-right: 1px solid grey;
  text-align: center;
  width: 30px;
}

.input_field > span > i {
  padding-top: 10px;
}

#wizard input:focus, #wizard textarea:focus {
	outline:0;
	border:1px solid #d41b1b;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container input:checked ~ .checkmark {
  background-color: #e5e5e5;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #57b846;
}

.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input--style-5 {
  background: #e5e5e5;
  line-height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 12px;
  font-size: 16px;
  color: #555;
}

.input-group-desc {
  position: relative;
}

@media (max-width: 767px) {
  .input-group-desc {
    margin-bottom: 40px;
  }
}

.input-group {
  position: relative;
  margin: 0;
}

.input-group .input-group-text {
  height: inherit !important;
}

.label {
  color: #555;
  font-size: 15px;
  font-weight: 700;
}

.label--block {
  width: 100%;
}

.label--desc {
  position: absolute;
  text-transform: capitalize;
  display: block;
  color: #999;
  font-size: 12px;
  margin: 0;
  margin-top: 4px;
  left: 0;
}

.inner label + .error
{
  color: #eb3746 !important;
  font-size: .8rem;
}

/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
  display: none !important;
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

.select2-container--default .select2-results__option {
  padding-left: 22px;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
  background: #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 50px;
  background: transparent;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
  padding-left: 0;
  color: #555;
  font-size: 16px;
  font-family: inherit;
  padding-left: 22px;
  padding-right: 50px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 50px;
  right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 24px;
  color: #999;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* ==========================================================================
   #TITLE
   ========================================================================== */

.modal-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.modal {
  --mdb-modal-width: 790px !important;
  --mdb-modal-padding: 0 !important;
  --mdb-modal-header-paddingv: 0 !important;
}

.modal-header {
  --mdb-modal-header-padding: 0 1em !important;
}

.modal-body {
  overflow-y: auto;
}

.modal-footer {
  padding: 10px !important;
}

@media (min-width: 576px) {
  .modal {
      --mdb-modal-margin: 1rem;
  }
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  --mdb-card-spacer-y: 1rem;
  --mdb-card-spacer-x: 1rem;
}

.card-body {
  --mdb-card-spacer-y: 1rem;
  --mdb-card-spacer-x: 1rem;
}

.card-5 {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-5 .card-heading {
  padding: 20px 0;
  background: #1a1a1a;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}

.card-5 .card-body {
  padding: 52px 85px;
  padding-bottom: 73px;
}

@media (max-width: 767px) {
  .card-5 .card-body {
    padding: 40px 30px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .fs-2 {
    font-size: 1.5rem!important;
  }
  .fs-3 {
      font-size: 1.2rem!important;
  }
  .display-5 {
    font-size: 1rem;
  }
}

/* ==========================================================================
   #WIZARD
   ========================================================================== */
.page-content {
	width: 100%;
	margin:  0 auto;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	background: #383a4f;
}
.wizard-v5-content   {
	width: 100%;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/* margin: 160px 0 115px; */
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	display: flex;
	display: -webkit-flex;
}
.wizard-v5-content .wizard-form {
	width: 100%;
	background: #525575;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.form-register .steps {
	/* margin-bottom: 35px; */
	background: #fff;
	/* border-top-left-radius: 10px;
	border-top-right-radius: 10px; */
}
.form-register .steps ul {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    width: 100%;
}
.form-register .steps li,
.form-register .steps li.current {
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    position: relative;
    width: 25.00%;
    padding: 10.5px 10px;
}
.form-register .steps li::after {
	position: absolute;
	content: "";
	width: 1px;
	height: auto;
	background: #e5e5e5;
	top: 0;
	left: 100%;
}
.form-register .steps li:first-child {
	width: 25.00%;
}
.form-register .steps li:last-child {
	width: 25.00%;
}
.form-register .steps li:last-child::after {
	content: none;
}
.form-register .steps li .current-info {
	display: none;
}
.form-register .steps li a {
	text-decoration: none;
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.form-register .steps li a .title {
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	-o-justify-content: space-around;
    -ms-justify-content: space-around;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
}
.form-register .steps li a .title .step-icon { 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    color: #666;
    font-size: 18px;
}
.form-register .steps li a .step-icon i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon {
	background: rgba(37, 180, 91, 0.2);
	border:  1px solid #25b45b;
	color: #25b45b;
}
.form-register .steps li.done a .step-icon,
.form-register .steps li.done a:active .step-icon {
    background: #25b45b;
    color: #fff;
}
.form-register .steps li a .step-text {
	color: #333;
	padding-top: 10px;
}
.form-register .content #form-total-p-0,
.form-register .content #form-total-p-1 {
    /* padding: 10px 220px 5px 45px; */
    padding: 10px 15px 5px 15px;
}
/* .form-register .content #form-total-p-1 {
    padding: 10px 220px 1px 45px;
} */
.form-register .content h2 {
	display: none;
}
.inner .form-row, .inner .row {
    display: flex;
    /* margin: 0 -13px; */
    position: relative;
    margin-bottom: 1em;
}
.inner .form-row.form-row-2 {
	width: 80.6%;
}
.inner .form-row.form-row-date {
    margin-top: 30px;
}
.inner .form-row .form-holder {
    width: 50%;
    padding: 0 13px;
    position: relative;
}
.inner .form-row .form-holder span, .inner .row span {
    position: absolute;
    top: 57%;
    right: 10%;
    font-size: 19.2px;
    color: #666;
}
.inner .form-row .form-holder.form-holder-2 {
	width: 100%;
	position: relative;
}
.inner .form-row .form-holder.form-holder-2 span {
	position: absolute;
	top: 57%;
	right: 5%;
	color: #333;
}
.inner .form-row .form-holder.form-holder-2 span.card {
	left: 5%;
	color: #666;
	width: 16px;
}
.inner .form-row .form-holder label, .inner .row label, .inner .row span {
	color: #fff;
	padding-bottom: 0;
  margin-bottom: 0;
	display: flex;
}
.inner .form-row .form-holder label.special-label {
    display: inline-block;
    /* float: left; */
    margin-top: 10px;
    padding-right: 20px;
}
.inner .form-row .form-holder input,
.inner .form-row .form-holder select {
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.inner .form-row .form-holder input#account_number {
	padding-left: 50px;
}
.inner .form-row.form-row-step-2 .form-holder select {
	padding:  9px 20px;
}
.inner .form-row .form-holder input::placeholder,
.inner .form-row .form-holder.form-holder-2 .input-step-2-1::placeholder {
    color: #999;
    font-size: 16px;
    font-weight: 600;
}
.inner .form-row .form-holder input:-ms-input-placeholder,
.inner .form-row .form-holder.form-holder-2 .input-step-2-1:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #999;
   font-size: 16px;
   font-weight: 600;
}
.inner .form-row .form-holder input::-ms-input-placeholder,
.inner .form-row .form-holder.form-holder-2 .input-step-2-1::-ms-input-placeholder { /* Microsoft Edge */
   color: #999;
   font-size: 16px;
   font-weight: 600;
}
.inner .form-row .form-holder.form-holder-2 input::placeholder,
.inner .form-row .form-holder.form-holder-3 input::placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
.inner .form-row .form-holder.form-holder-2 input:-ms-input-placeholder,
.inner .form-row .form-holder.form-holder-3 input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #333;
   font-size: 16px;
   font-weight: 600;
}
.inner .form-row .form-holder.form-holder-2 input::-ms-input-placeholder,
.inner .form-row .form-holder.form-holder-3 input::-ms-input-placeholder { /* Microsoft Edge */
   color: #333;
   font-size: 16px;
   font-weight: 600;
}
.inner .form-row .form-holder .input-step-2::placeholder,
.inner .form-row .form-holder.form-holder-2 .input-step-2-2::placeholder {
    color: #666;
    font-size: 16px;
    font-weight: 600;
}
.inner .form-row .form-holder .input-step-2:-ms-input-placeholder,
.inner .form-row .form-holder.form-holder-2 .input-step-2-2:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #666;
   font-size: 16px;
   font-weight: 600;
}
.inner .form-row .form-holder .input-step-2::-ms-input-placeholder,
.inner .form-row .form-holder.form-holder-2 .input-step-2-2::-ms-input-placeholder { /* Microsoft Edge */
   color: #666;
   font-size: 16px;
   font-weight: 600;
}
.inner .form-row #radio, .inner .row #radio {
    padding-left: 13px;
    color: #fff;
    margin-bottom: -1px;
}
.inner .form-row .form-holder select {
    background: #fff url('../images/wizard_v5_icon.png') no-repeat scroll;
    background-position: right 16px center;
    z-index: 1;
    cursor: pointer;
    color: #666;
    position: relative;
    font-weight: 600;
}
.inner .form-row .form-row-date .form-holder select {
	float: left;
    width: 16.7%;
    margin-right: 20px;
}
.inner .form-row .form-holder select option {
	background: #fff;
	color: #666;
}
.inner .form-row .form-holder.form-holder-2 .select-btn {
    top: 27%;
    right: 6.5%;
}
.inner .form-row .form-holder .ui-datepicker-trigger {
    background: transparent;
    border: none;
    color: #666;
    font-size: 19px;
    position: absolute;
    cursor: pointer;
    right: 10.5%;
    top: 27.5%;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.inner h3 {
	font-size: 25px;
	font-weight: 600;
	color: #fff;
	padding:  3px 0 6px 45px;
}
.inner .form-row.table-responsive {
    border: none;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 22px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 45px 45px;
}
.inner .form-control:disabled {
  opacity: .7;
}
.inner .form-check, .inner .form-check::before {
  color: #fff;
}
/* .inner .form-check-input[type=checkbox]:checked {
  background-image: none;
  background-color: #eee;
} */
.inner .form-check-input:checked {
  border-color: #666;
}
/* .form-check-input[type=checkbox]:checked:after {
  border: .125rem solid #444;
} */
.inner .table-responsive .table {
	width: 100%;
}
.inner .table-responsive tbody {
	text-align: left;
}
.inner .table-responsive tr.space-row > td,
.inner .table-responsive tr.space-row > th {
	padding: 18px 28px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(255, 255, 255, 0.2);
}
.inner .table-responsive tr.space-row:last-child > td,
.inner .table-responsive tr.space-row:last-child > th {
	border-bottom: none;
}
.inner .table-responsive tbody th {
	color: #ccc;
	font-size: 16px;
	font-weight: 400;
	width: 29%;
    border-right: 1px solid;
    border-right-color: rgba(255, 255, 255, 0.2);
}
.inner .table-responsive tbody td {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.inner .row .form-holder {
  width: 50%;
  padding: 0 13px;
  position: relative;
}
.inner .row {
  margin-top: calc(var(--mdb-gutter-y)*0);
  margin-right: calc(var(--mdb-gutter-x)*-0.0);
  margin-left: calc(var(--mdb-gutter-x)*0.0);
}
.inner label {
  font-weight: normal !important;
}
.inner input::placeholder {
  color: #222;
  font-size: .8em;
}
.form-register .actions {
	padding: 0 45px 45px;
}
.actions ul {
	list-style: none;
	padding-left: 0;
    margin: 15px 0 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
}
.actions ul li.disabled/*,
.actions ul li:first-child*/ {
	opacity: 0;
}
.actions ul li {
	padding: 0;
    border: none;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    background: #25b45b;
    cursor: pointer;
}
.actions ul li:hover {
	background: #219c50;
}
.actions ul li a, ul li button {
	color: #fff;
	text-decoration: none;
  padding: 11px 20px;
}
.actions ul li:first-child a {
	color: #666;
}
.actions ul li a i, ul li button > i {
	font-size: 26px;
  color: #fff;
}

/* Responsive */
@media screen and (max-width: 1199px) {
	.wizard-v5-content {
		margin: 180px 20px;
	}
	.form-register .content #form-total-p-0,
	.form-register .content #form-total-p-1 {
		padding-left: 30px;
		padding-right: 30px;
	}
	.inner .form-row.table-responsive {
	    margin: 0 30px 45px;
	}
	.form-register .actions {
	    padding: 0 30px 45px;
	}
}
@media screen and (max-width: 992px) {
	.form-register .steps li a .title {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		align-items: center;
		-o-align-items: center;
		-ms-align-items: center;
		-moz-align-items: center;
		-webkit-align-items: center;
	}
	.form-register .steps li:first-child,
	.form-register .steps li:last-child {
		width: 33.33%;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	.form-register .steps li::after {
		height: 109px;
	}
}
@media screen and (max-width: 767px) {
	.form-register .steps li::after {
		content: none;
	}
	.form-register .steps li, 
	.form-register .steps li.current {
	    padding: 16.5px 10px;
    	text-align: center;
	}
	.inner .form-row .form-holder label.special-label {
		float: none;
	}
	.inner .form-row.form-row-date .form-holder select {
	    float: none;
	    width: 100%;
	    margin-bottom: 20px;
	    margin-right: 0;
	    display: block;
	}
}
@media screen and (max-width: 575px) {
	.inner .form-row {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		margin: 0;
	}
	.inner .form-row .form-holder {
		width: 100%;
		padding: 0;
		margin-bottom: 30px;
	}
	.inner .form-row #radio {
    	padding-left: 0;
	    margin-bottom: 24px;
	}
	.inner .form-row.form-row-date {
		margin-top: 0;
	}
	.form-register .steps li, .form-register .steps li.current {
		padding-right: 5px;
	}
	.form-register .steps li::before {
		width: 65px;
		top: 15%;
    left: 70%;
	}
	.form-register .steps li.current::after {
		left: 28%;
	}
	.inner .form-row .form-holder .ui-datepicker-trigger {
		right: 0;
	}
	.inner .form-row .form-holder .select-btn {
		right: 6.5%;
	}
	.inner .table-responsive tr.space-row {
		border-bottom: 1px solid;
		border-bottom-color: rgba(255, 255, 255, 0.2);
	}
	.inner .table-responsive tr.space-row:last-child {
		border-bottom: none;
	}
	.inner .table-responsive tr.space-row,
	.inner .table-responsive tbody th {
	    display: block;
	}
	.inner .table-responsive tr.space-row > td, 
	.inner .table-responsive tr.space-row > th {
		border-bottom: none;
		padding:  15px 20px;
	}
	.inner .table-responsive tr.space-row > th {
		border-right: none;
		width: auto;
	}
}
@media (min-width: 992px) {
  section {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
  }
}

.align-items-center {
  align-self: center;
}

.align-items-center .form-check {
  position: absolute;
}

.contain {
  background-color: #eee;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

div.form {
  background-color: #eee;
}
.contact-wrapper {
  margin: auto 0;
}

.contain form .submit-btn {
  float: left;
}
.contain form .reset-btn {
  float: right;
}
.form-headline:after {
  content: "";
  display: block;
  width: 10%;
  padding-top: 10px;
  border-bottom: 3px solid #ec1c24;
}
.highlight-text {
  color: #ec1c24;
}
.hightlight-contact-info {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.5;
}
.highlight-text-grey {
  font-weight: 500;
}
.email-info {
    margin-top: 20px;
}
::-webkit-input-placeholder { /* Chrome */
  font-family: 'Roboto', sans-serif;
}
.contain form input::placeholder {
  color: #555;
  font-size: .8em;
}
.required-input {
  color: red;
}
@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

h3,
ul {
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}
.form-input:focus,
textarea:focus{
  outline: 1.5px solid #ec1c24;
}
.contain .form-input,
.contain textarea {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
.contain .wrapper > * {
  padding: 1em;
}
@media (min-width: 700px) {
  .contain .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contain .wrapper > * {
    padding: 2em 2em;
  }
}
.contain form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .1em;
}
.contain form label {
  display: block;
  font-size: small;
  margin: auto .5em;
}
section .contain p {
  padding: .8rem .8rem;
}
.contain form p {
  margin: 0;
}
.full-width {
  grid-column: 1 / 3;
}
.contain form button,
.contain form .submit-btn,
.contain form .form-input,
.contain form .form-select,
.contain form textarea {
  padding: .8em;
}
.contain form button, .contain form .submit-btn {
  background: transparent;
  border: 1px solid #ec1c24;
  color: #ec1c24;
  border-radius: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
}
.contain form button:hover, .contain form .submit-btn:hover,
.contain form button:focus , .contain form .submit-btn:focus{
  background: #ec1c24;
  outline: 0;
  color: #eee;
}
.error {
  color: #ec1c24;
}